
.header {
    text-align: center;
    padding-top: 120px;
  }
  .responsive-video {
    position: relative;
    padding-top: 40%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    margin: auto; /* Centers the video container */
    max-width: 71%; /* Adjust this to set the maximum width of the video container */
    margin-top: 3%; /* Adds space above the video */
    margin-bottom: 5%; /* Adds space below the video */

  }
  .responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .responsive-video2 {
    position: relative;
    padding-top: 40%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    margin: auto; /* Centers the video container */
    max-width: 80%; /* Adjust this to set the maximum width of the video container */
    margin-top: 3%; /* Adds space above the video */
    margin-bottom: 15%; /* Adds space below the video */
  }
  .responsive-video2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  p.courses {
    display:block;
    padding: 30px 300px 10px 300px ;
    text-align: center;
  }
  
  p.courses2 {
    display:block;
    padding: 30px 300px 230px 300px ;
    text-align: left;
  }
  
  h2 {
    display: block;
    font-weight: normal;
    text-align: center;
    padding-top: 25px;
    border-bottom: 1px solid ;
    margin: 30px 260px;
    min-width: auto;
  }
  
  h3 {
    display: block;
    font-weight: normal;
    text-align: center;
    margin: 75px 300px 10px 300px ;
    min-width: auto;
  }
  
  h4 {
    display: block;
    font-weight: normal;
    text-align: left;
    margin: 50px 300px 0px 300px ;
    min-width: auto;
  }
  
  @media screen and (max-width: 1100px) {
    p.courses {
      padding: 30px 10px 10px 10px;
    }
    p.courses2 {
      padding: 30px 10px 230px 10px
    }
    h2 {
      margin: 30px 10px 30px 10px;
    }
    h3, h4 {
      margin-left: 10px;
      margin-right: 10px;
    }
    .video-container3 {
      display: flex; /* Use flexbox to align children */
      justify-content: center; /* Center children horizontally in the container */
      margin: 10px 0; /* Add some margin above and below the container */
      margin-bottom: 95%;       
    }
    .responsive-video {
      max-width: 75%; /* Adjust this to set the maximum width on larger screens */
      margin-top: 20px; /* Adds space above the video */
      margin-bottom: 15%; /* Adds space below the video */
    }
    .responsive-video2 {
      max-width: 80%; /* Adjust this to set the maximum width on larger screens */
      margin-top: 20px; /* Adds space above the video */
      margin-bottom: 35%; /* Adds space below the video */
    }
  }

  