
* {
    box-sizing: border-box;
  }
  
  .header {
    text-align: center;
    padding-top: 120px;
  }
  
  p.intro {
    display:block;
    margin: 75px 300px 50px 300px ;
    text-align: justify;
  }
  
  p.courses2 {
    display:block;
    margin: 30px 300px 80px 300px ;
    text-align: left;
  }
  
  h2 {
    display: block;
    font-weight: normal;
    text-align: center;
    padding-top: 25px;
    border-bottom: 1px solid ;
    margin: 30px 260px;
    min-width: auto;
  }
  
  
  .image-container {
    position: relative;
    width: 100%; /* Full width of the column or adjust as necessary */
    display: inline-block; /* Ensures the container fits the content */
}

  .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Creates as many columns as fit */
  grid-auto-rows: minmax(100px, auto); /* Adjust row height to content */
  gap: 10px; /* Space between items */
  width: 100%;
  margin: auto; /* Center the grid horizontally */
  padding-left: 235px; padding-right: 235px
}

  .gallery img {
    width: 100%; /* Each image takes full width of the column */
    height: auto; /* Height is automatic to maintain aspect ratio */
    border-radius: 8px; /* Rounded corners for aesthetics */
    margin-top: 8px; /* Space on top of each image */
    vertical-align: middle; /* Aligns images vertically in the middle */
}

  .year-buttons {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
  
}
  .year-buttons button {
    border: none;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 16px;
    color: white;
    background-color: #333333
}

  .year-buttons button:hover {
    background-color: #595959;
    color: white
}

  .year-buttons button.active {
    background-color: #4CAF50; /* Green background for active button */
    color: white;
}

.caption {
  position: absolute;
  bottom: 0; /* Aligns the caption at the bottom of the image */
  left: 0;
  width: 100%; /* Ensures the caption stretches across the image */
  background-color: rgba(0, 0, 0, 0.40); /* Semi-transparent black background */
  color: white; /* White text color */
  text-align: center;
  padding: 10px; /* Adds some padding inside the caption */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition for showing the caption */
}

  .image-container:hover .caption {
    opacity: 1; /* Fully visible when hovered */
}

@media screen and (max-width: 1000px) {
  p.intro, h2 {
    margin: 25px 10px 100px 10px;
  }
  .gallery {
    padding-left: 10px; padding-right: 10px
  }
}