
/* Dark mode */
body.dark-mode,
body.dark-mode div,
body.dark-mode footer{
    background-color: #141414;
    color: #ffffff ;
}
body.dark-mode button{
    background-color: #33333;
}

body.dark-mode button:hover{
    color: white
}

body.dark-mode .courses2{
    background:#141414 !important;
    color: #ffffff;
    flex-direction: column;
    margin: auto;
}
body.dark-mode .topnav{
    background-color: #1a1a1a;
}

body.dark-mode .topnav a{
    color: grey;
}
body.dark-mode .topnav a:hover{
    color: white;
}

body.dark-mode .topnav a.active{
    color: white;
}

body.dark-mode a{
    color: #9bfabb;
}
.dark.icon{
    margin: 0px !important;
    margin-left: auto !important;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    background-color: #1a1a1a;
}
.dark.icon:hover{
    background-color: #1a1a1a;
}
.icon{
    background-color: #1a1a1a;
}

body.dark-mode .panel {
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}
body.dark-mode .panel-heading {
    background-color: #1a1a1a;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

body.dark-mode .panel-title a {
    display: block;
    color: white;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


@media(min-width:850px) {
    .topnav{
        display: flex;
        justify-content: space-between;
    }}